@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root 
{
  --primary-color: rgb(17, 86, 102);
  --darker-primary-color: rgb(9, 48, 56);
  --secondary-color: crimson;
  --white-color: #FFFFFF;
  --blue-color: #1900d3;
}

*
{
  outline: 0;
  padding: 0%;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;
}

body 
{
  margin: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}

h1
{
  display: inline;
  font-size: 4.4rem;
  text-align: center;
  text-transform: uppercase;
}

.container 
{
  max-width: 84rem;
  max-height: 40rem;
  margin: 5rem auto;
  background: #fff;
  padding: 4rem;
  padding-top: 1rem;
  border-radius: 1.5rem;
}

#header
{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.8rem ;
}

#header img
{
  vertical-align: middle;
  width: 6rem;
  height: 6rem;
  margin: 0;
}

.stopwatch
{
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 8rem; 
  text-align: center;
  color: var(--primary-color);
}

#buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
}

button
{
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.3rem 1rem;
  cursor: pointer;

}

button.start
{
  color: #fff;
  background-color: #1da100;
  border: 0.3rem solid #1da100;
  border-radius: 0.6rem;
}

button.start:hover
{
  color: #1da100;
  background-color: #fff;
  transition: 300ms ease-in-out;
}

button.pause
{
  color: #fff;
  background-color: #006eff;
  border: 0.3rem solid #006eff;
  border-radius: 0.6rem;
}

button.pause:hover
{
  color: #006eff;
  background-color: #fff;
  transition: 300ms ease-in-out;
}

button.reset
{
  color: #fff;
  border-radius: 0.6rem;
  background-color: #f73a34;
  border: 0.3rem solid #f73a34;
}

button.reset:hover
{
  color: #f73a34;
  background-color: #fff;
  transition: 300ms ease-in-out;
}

.paused
{
  color: orange;
}

.waiting
{
  color: #888888;
}

.footer p
{
    color: #fff;
    text-align: center;
    font-size: 2.6rem;
    margin: 0;
    padding: 2rem;
    font-weight: 700;
}

.footer a
{
    text-decoration: underline;
    color: #e0e038;
}

.footer a:hover
{
  color: orange;
}

#heartEntity
{
    color: var(--secondary-color);
    font-size: 2.5rem;
}

@media (min-width: 801px) and (max-width: 900px)
{
  .container
  {
    margin-left: 4rem;
    margin-right: 4rem;
  }

}

@media (max-width: 800px)
{
  body 
  {
    font-size: 1.7rem;
  }

  h1 
  {
    font-size: 3.4rem;
  }

  .container
  {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  #header img 
  {
    width: 5rem;
    height: 5rem;
    margin: 0;
  }

  .stopwatch
  {
    font-size: 6rem;
  }

  button
  {
    font-size: 1.5rem;
  }

  .footer p 
  {
    font-size: 2.4rem;
  }

  #heartEntity
  {
    font-size: 2rem;
  }
}
